.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.person-name {
  font-size: 16px;
  font-weight: bold;
}

.menu-icon {
  cursor: pointer;
  font-size: 25px;
  margin-right: 20px;
}

.icon_extract {
  display: none;
  position: absolute;
  right: 0px;
  bottom: 80px;
  font-size: 20px;
  width: 100px;
  padding: 10px;
  border-radius: 2px;
  letter-spacing: 10px;
  background: whitesmoke;
  border-radius: 10px;
  margin-right: 20px;
  flex-direction: row;
}

.popup-menu {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  display: none;
  margin-right: 20px;
}

.popup-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.popup-menu li {
  margin-bottom: 10px;
}

.popup-menu li:last-child {
  margin-bottom: 0;
}

.popup-menu a {
  color: #333;
  text-decoration: none;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .person-name {
    font-size: 14px;
  }
}

.footer {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  bottom: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  width: 100%;
}

.message-input {
  flex: 1;
  height: 36px;
  padding: 6px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

.icons {
  display: flex;
  margin-left: 10px;
}

.icon {
  padding: 7px;
}

.send-icon,
.link-icon {
  color: #555;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .message-input {
    height: 30px;
    font-size: 12px;
  }

  .send-icon,
  .link-icon {
    font-size: 14px;
  }
}

.chat-container {
  display: flex;
  color: #333;
  margin-bottom: 100px;
  margin-top: 65px;
}

.chat-container ul {
  margin: 0px;
  padding: 0px;
}

.chats-image {
  display: flex;
  padding: 15px;
}

.chats-image img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.remove-list-style {
  list-style: none;
}

.text-box {
  width: 75%;
  background: whitesmoke;
  border-radius: 0px 15px 15px 15px;
  padding: 10px;
  box-shadow: 0px 2px #8888884d;
  font-family: 'Roboto', sans-serif;
}

.right-side-text {
  justify-content: right;
  text-align: right;
  font-family: 'Roboto', sans-serif;
}

.right-side-text-box {
  font-family: 'Roboto', sans-serif;
  border-radius: 15px 15px 0px 15px;
  background: #0B93F6;
  font-weight: 400;
  color: white;
}